build/
dist/
*.db
nbproject/private/
!*log*.java
*log/
/VRParticionador
/VRSmallApps
/particonadordearquivos
/VRFramework
/VRFrameworkImplantacaoV1
/VRFrameworkImplantacaoV2
/VRImplantacao2_6
/VRImplantacaoScripts
/VRImplantacaoV1
/VRImplantacaoV2
/VRMapeamento
/VRMercadologico